
/*  --------------------------------------------------
    CSS
    PROJECT : Appleby - FidCo
    BY : GAJEN
    DATE : FEBRUARY 2016
    -------------------------------------------------- */


/*  --------------------------------------------------
    TABLE OF CONTENTS 
    -------------------------------------------------- 

    1.0 RESET
    2.0 CLEARFIX
    3.0 VARIABLES - COLOURS
    4.0 LINKS
    5.0 LISTS
    6.0 MISC

    7.0 TYPOGRAPHY
        7.1 FONTFACE
        7.2 TYPOGRAPHY

    8.0 LAYOUT
        8.1 DEVICE WIDTH UPTO 640
        8.2 DEVICE WIDTH FROM 640
        8.3 DEVICE WIDTH FROM 768
        8.4 DEVICE WIDTH FROM 960
        8.5 DEVICE WIDTH FROM 1224
        8.6 RETINA DISPLAY
*/


/*  1.0 ----------------------------------------------
    RESET
    -------------------------------------------------- */

    html, body, div, span, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
    small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section, summary,
    time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section { display: block; }

    blockquote, q { quotes: none; }
    blockquote:before, blockquote:after,
    q:before, q:after { content: ''; content: none; }
    ins { background-color: #ff9; color: #000; text-decoration: none; }
    mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
    del { text-decoration: line-through; }
    abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
    table { border-collapse: collapse; border-spacing: 0; }
    hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
    input, select { vertical-align: middle; }

    select, input, textarea, button { outline: none; }
    pre, code, kbd, samp { font-family: monospace, sans-serif; }

    html { overflow-y: scroll; }
    a:hover, a:active { outline: none; }
    ul, ol { margin:0; padding:0; }
    nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
    small { font-size: 85%; }
    strong, th { font-weight: bold; }
    td { vertical-align: top; }

    sub, sup { font-size: 75%; line-height: 0; position: relative; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }

    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
    textarea { overflow: auto; }
    .ie6 legend, .ie7 legend { margin-left: -7px; } 
    input[type="radio"] { vertical-align: text-bottom; }
    input[type="checkbox"] { vertical-align: bottom; }
    .ie7 input[type="checkbox"] { vertical-align: baseline; }
    .ie6 input { vertical-align: text-bottom; }
    label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
    button, input, select, textarea { margin: 0; }
    input:valid, textarea:valid   {  }
    input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
    .no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

    button {  width: auto; overflow: visible; }
    .ie7 img { -ms-interpolation-mode: bicubic; }
    
    body {
        
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }
    
    textarea { resize:none; }

    nav ul, ul.list, fieldset ul, .tweets ul, .slides ul { list-style:none; margin:0; padding:0; overflow:visible; height:100%; }
    
    .box,
    input, textarea, select {
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
        
    i.fa {
        margin-right:5px;
    }   
    i.fa.after {
        margin-right:0;
        margin-left:5px;
    }
    .overlayicon i.fa {
        margin:0;
    }
    .site_search i.fa {
        margin:0 auto;
    }



/*  2.0 ----------------------------------------------
    CLEARFIX
    -------------------------------------------------- */
         
    /* Nicolas Gallagher's micro clearfix */
    .row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
    .row:after, .clearfix:after { clear: both; }
    .row, .clearfix { zoom: 1; }
    

    /* http://sonspring.com/journal/clearing-floats */
    .clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
    .clearfix:before,
    .clearfix:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .clearfix:after {
        clear: both;
        }

    /* The following zoom:1 rule is specifically for IE6 + IE7.
    Move to separate stylesheet if invalid CSS is a problem. */

    .clearfix {
        zoom: 1;
    }

        

/*  3.0 ----------------------------------------------
    VARIABLES
    -------------------------------------------------- */

    @black: #000000;
    @white: #FFFFFF;
    @offWhite: #E6E7E8;
    @brandColor: #0099A8;
    @tintBrand: #00AFB9;
    @copyColor: #414042;
    @darkGrey: #414042;



/*  4.0 ----------------------------------------------
    LINKS
    -------------------------------------------------- */
    
    a { 
        text-decoration: none; 
        line-height: inherit; 
        cursor:pointer; 
        color: @copyColor;
    }
    a,
    button,
    button span,    
    a span,
    a strong,
    input,
    textarea, 
    select,
    .button,
    .item,
    .item p.heading,
    .slick-prev, .slick-next { 
        
        -webkit-transition: all 0.25s ease;
        -moz-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }   
    a:hover { 
        text-decoration: none;
        color: @copyColor;
    }
    a:focus { 
        outline: none; 
        text-decoration: none; 
        color: @copyColor;
    }
    a:visited { 
        outline: none;  
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        -khtml-opacity: 0.8;
        opacity:0.8;
        color: @copyColor;
    }
    p a, p a:visited { 
        line-height: inherit;
        color: inherit;
        color: @copyColor;
    }
    a.see_all { 
        position:absolute; 
        top:13px; 
        right:0; 
        font-size:11px; font-size:1.1rem; 
    }
    


/*  5.0 ----------------------------------------------
    LISTS
    -------------------------------------------------- */
    
    ul, ol { 
        padding: 0; 
        margin-bottom:15px;
        overflow: hidden;
    }
    ul { 
        list-style: none; 
    }
    ol { 
        padding-left: 20px;
        list-style: decimal; 
    }
    ul ul,
    ol ol {
        .padding(0,0,0,15);
    }
    ul ul {
        list-style: circle outside; 
    }
    ol ol {
        list-style: lower-roman; 
    }
    ol, 
    ul.square, 
    ul.circle, 
    ul.disc { 
    }
    ul.square { 
        list-style: square outside; 
    }
    ul.circle { 
        list-style: circle outside; 
    }
    ul.disc { 
        list-style: disc outside; 
    }
        
    nav ul,
    nav li {
        padding:0;
    } 
        
    dl { 
    }
    dl dt { 
        font-weight:bold;
        padding-bottom: 2px;
    }   
    dl dd { 
        padding-bottom: 2px; 
    }
        
    

/*  6.0 ----------------------------------------------
    MISC
    -------------------------------------------------- */
    
    .text-left { 
        text-align: left; 
    }
    .text-right { 
        text-align: right; 
    }
    .text-center { 
        text-align: center; 
    }
    .text-upper {
        text-transform:uppercase;
    }
    .hide { 
        display: none; 
    }   
    object, embed { 
        max-width: none; 
    }
    img { 
        width:100%; 
        height:auto;
        max-width: 100%;
        display: block;
    }
        
            

/*  7.0 ----------------------------------------------
    TYPOGRAPHY
    -------------------------------------------------- */
    
    /*  7.1 ----------------------------------------------
        FONTFACE
        -------------------------------------------------- */
        
        @font-face{
            font-family:"bodonimedium";
            src:url("../_fonts/ff374452-36e9-400d-bb5d-b0dd7b57e599.eot?#iefix");
            src:url("../_fonts/ff374452-36e9-400d-bb5d-b0dd7b57e599.eot?#iefix") format("eot"),
                url("../_fonts/15d8bbe5-e997-4ede-9fa3-8c6f28e3fb1e.woff") format("woff"),
                url("../_fonts/1d85db7b-943a-4f61-afba-09a58f2f7879.ttf") format("truetype"),
                url("../_fonts/fe9b3ad1-adad-4b41-9f76-244963857d41.svg#fe9b3ad1-adad-4b41-9f76-244963857d41") format("svg");
        }
        @font-face {
            font-family: 'montserratblack';
            src: url('../_fonts/montserrat-black.eot');
            src: url('../_fonts/montserrat-black.eot?#iefix') format('embedded-opentype'),
                 url('../_fonts/montserrat-black.woff') format('woff'),
                 url('../_fonts/montserrat-black.ttf') format('truetype'),
                 url('../_fonts/montserrat-black.svg#montserratblack') format('svg');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'montserratbold';
            src: url('../_fonts/montserrat-bold.eot');
            src: url('../_fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
                 url('../_fonts/montserrat-bold.woff') format('woff'),
                 url('../_fonts/montserrat-bold.ttf') format('truetype'),
                 url('../_fonts/montserrat-bold.svg#montserratbold') format('svg');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'montserratextra_bold';
            src: url('../_fonts/montserrat-extrabold.eot');
            src: url('../_fonts/montserrat-extrabold.eot?#iefix') format('embedded-opentype'),
                 url('../_fonts/montserrat-extrabold.woff') format('woff'),
                 url('../_fonts/montserrat-extrabold.ttf') format('truetype'),
                 url('../_fonts/montserrat-extrabold.svg#montserratextra_bold') format('svg');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'montserrathairline';
            src: url('../_fonts/montserrat-hairline.eot');
            src: url('../_fonts/montserrat-hairline.eot?#iefix') format('embedded-opentype'),
                 url('../_fonts/montserrat-hairline.woff') format('woff'),
                 url('../_fonts/montserrat-hairline.ttf') format('truetype'),
                 url('../_fonts/montserrat-hairline.svg#montserrathairline') format('svg');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'montserratlight';
            src: url('../_fonts/montserrat-light.eot');
            src: url('../_fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
                 url('../_fonts/montserrat-light.woff') format('woff'),
                 url('../_fonts/montserrat-light.ttf') format('truetype'),
                 url('../_fonts/montserrat-light.svg#montserratlight') format('svg');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'montserratregular';
            src: url('../_fonts/montserrat-regular.eot');
            src: url('../_fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
                 url('../_fonts/montserrat-regular.woff') format('woff'),
                 url('../_fonts/montserrat-regular.ttf') format('truetype'),
                 url('../_fonts/montserrat-regular.svg#montserratregular') format('svg');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'montserratsemi_bold';
            src: url('../_fonts/montserrat-semibold.eot');
            src: url('../_fonts/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
                 url('../_fonts/montserrat-semibold.woff') format('woff'),
                 url('../_fonts/montserrat-semibold.ttf') format('truetype'),
                 url('../_fonts/montserrat-semibold.svg#montserratsemi_bold') format('svg');
            font-weight: normal;
            font-style: normal;

        }
        @font-face {
            font-family: 'montserratultra_light';
            src: url('../_fonts/montserrat-ultralight.eot');
            src: url('../_fonts/montserrat-ultralight.eot?#iefix') format('embedded-opentype'),
                 url('../_fonts/montserrat-ultralight.woff') format('woff'),
                 url('../_fonts/montserrat-ultralight.ttf') format('truetype'),
                 url('../_fonts/montserrat-ultralight.svg#montserratultra_light') format('svg');
            font-weight: normal;
            font-style: normal;

        }



    /*  7.2 ----------------------------------------------
        TYPOGRAPHY
        -------------------------------------------------- */
        
        html { 
            background: @white;
            font-size: 62.5%;
            -webkit-overflow-scrolling: touch;
            -webkit-tap-highlight-color: @white;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            height: 100%;
        }

        /*  MIXINS --------------------------------------- */
            @import 'mixins.less';

        body { 
            width: 100%;
            color: @copyColor;
        } 
        body,   
        input,
        select,
        textarea, 
        button {
            font-size: 14px;
            font-family: 'montserratlight', Verdana, Arial, sans-serif;
            font-weight:400;
            line-height: 1.2;
        }
        
        h1, h2, h3, h4, h5, h6 { 
        }
        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
            line-height: 1.2;
            font-family: 'bodonimedium', Arial, verdana;
            color: @copyColor;
        }
        h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
            font-weight: inherit; 
        }
        
        p, div.text { 
            .padding(0,0,15,0);
            line-height:22px;
        }
        p img { 
            margin: 0; 
        }

        em, i { font-style: italic; line-height: inherit; }
        strong, b { font-weight: bold; line-height: inherit; }
        small { font-size: 80%; line-height: inherit; }
        
        hr { border: solid #000; border-width: 1px 0 0; clear: both; margin: 20px auto; height: 0; width:100%; }
        
        abbr, acronym { text-transform: uppercase; font-size: 90%; border-bottom: 1px solid #000; cursor: help; }
        abbr { text-transform: none; }

        ::-webkit-input-placeholder { /* WebKit browsers */
            color: #000;
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color: #000;
           opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
           color: #000;
           opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10+ */
           color: #000;
        }


body {
    background: #D1D3D4
}

.wrapper {
    background: #FFFFFF;
    margin: 0 auto;
    max-width: 1300px
}

.row {
    margin: 0 auto 20px;
    overflow: hidden
}

.row .row {
    margin-left: -15px;
    margin-right: -15px
}

.row.hero {
    position: relative
}

.row.hero .row-content {
    max-width: 1300px
}

.row.hero .scroll-arrow {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: 50px
}

.row.hero .scroll-arrow .icon {
    color: #FFFFFF;
    font-size: 55px;
    padding: 10px 10px 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%
}

.row-content {
    margin: 0 auto;
    max-width: 1170px;
    overflow: hidden
}

header {
    background: #D1D3D4
}

header .header-container {
    overflow: visible;
    margin: 0 auto;
    text-align: center;
    background: #414042;
    max-width: 1300px
}

header .header-container .nav-logo {
    padding: 24px 0px 24px 0px;
    overflow: visible;
    width: 100%;
    display: inline-block;
    margin-bottom: -3px;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

header .header-container .nav-logo .main-nav {
    margin-top: 25px;
    border-top: 1px solid #0099A8;
    display: none;
    font-family: 'montserratlight', Arial, verdana;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2
}

header .header-container .nav-logo .main-nav ul {
    list-style: none;
    padding-left: 0
}

header .header-container .nav-logo .main-nav>ul {
    margin-bottom: 0
}

header .header-container .nav-logo .main-nav>ul>li {
    font-size: 16px;
    line-height: 18px
}

header .header-container .nav-logo .main-nav>ul>li>a {
    color: #FFFFFF;
    padding: 15px 15px 15px 18px;
    display: inline-block;
    position: relative
}

header .header-container .nav-logo .main-nav>ul>li>a:hover {
    color: #0099A8;
    transition: color .2s linear
}

header .header-container .nav-logo .main-nav>ul>li>a:after {
    content: '';
    display: block;
    width: 100%;
    height: 28px
}

header .header-container .nav-logo .main-nav>ul>li.selected>a:before {
    font-family: "appleby-fidco" !important;
    position: absolute;
    content: "\61";
    left: -16px;
    top: 15px;
    font-size: 45px
}

header .header-container .nav-logo .main-nav>ul>li.services>ul>li {
    width: 25%;
    float: left;
    padding: 0 15px
}

header .header-container .nav-logo .main-nav>ul>li.services>ul>li a {
    color: #414042;
    font-size: 14px;
    line-height: 1;
    display: inline-block
}

header .header-container .nav-logo .main-nav>ul>li.services>ul>li>a {
    border-bottom: 2px solid #0099A8;
    padding-bottom: 10px;
    margin-bottom: 10px
}

header .header-container .nav-logo .main-nav>ul>li.services>ul>li>a:hover {
    font-family: 'montserratlight'
}

header .header-container .nav-logo .main-nav>ul>li.services>ul>li>ul {
    margin-bottom: 0
}

header .header-container .nav-logo .main-nav>ul>li.services>ul>li>ul>li {
    margin-bottom: 5px
}

header .header-container .nav-logo .main-nav>ul>li.services>ul>li>ul>li>a {
    padding: 5px 0
}

header .header-container .nav-logo .main-nav>ul>li:first-child {
    display: none
}

header .header-container .nav-logo .main-nav>ul>li>ul {
    display: none;
    position: absolute;
    background: #FFFFFF;
    top: 76px;
    text-align: left;
    padding: 35px 50px;
    z-index: 999
}

header .header-container .nav-logo .main-nav>ul>li>ul>li {
    margin-bottom: 5px
}

header .header-container .nav-logo .main-nav>ul>li>ul>li a {
    color: #414042;
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    padding: 5px 0
}

header .header-container .nav-logo .main-nav>ul>li>ul>li a:hover {
    font-family: 'montserratregular'
}

header .header-container .nav-logo .main-nav>ul>li>ul>li>ul {
    margin-bottom: 0
}

header .header-container .nav-logo .main-nav>ul>li>ul>li>ul>li {
    margin-bottom: 5px
}

header .header-container .nav-logo .main-nav>ul>li>ul>li>ul>li>a {
    padding: 5px 0
}

header .header-container .nav-logo .logo {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    text-align: center;
    margin-top: 0;
    transition: margin-top .2s linear
}

header .header-container .nav-logo .logo a {
    width: 212px;
    height: 38px;
    background: url('../_images/logo.png') no-repeat;
    display: inline-block;
    background-size: cover
}

header .header-container .nav-logo .search-button {
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
    z-index: 999
}

header .header-container .nav-logo .search-button .icon {
    color: #FFFFFF;
    font-size: 30px
}

header .header-container .nav-logo .mobile-menu {
    position: absolute;
    top: 32px;
    left: 10px;
    z-index: 999
}

header .header-container .nav-logo .mobile-menu li {
    height: 4px;
    width: 38px;
    margin-bottom: 6px;
    background: #0099A8
}

header .search {
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    top: 85px;
    display: none;
    z-index: 1000
}

header .search .row-content {
    max-width: 1300px;
    background: #FFFFFF;
    padding: 45px 0px 45px 0px
}

header .search .row-content input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #0099A8;
    font-size: 20px
}

header .search .row-content button {
    position: absolute;
    right: 10px;
    top: -5px;
    border: none;
    background: none
}

header .search .row-content button .icon {
    color: #0099A8;
    font-size: 25px
}

footer {
    background: #414042
}

footer .footer-container {
    padding: 40px 0px 22px 0px;
    margin-bottom: 0
}

footer .footer-container .call-now {
    text-align: center;
    margin-bottom: 35px
}

footer .footer-container .call-now p {
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding-bottom: 0
}

footer .footer-container .call-now a {
    color: #FFFFFF
}

footer .footer-container .contact-request {
    text-align: center;
    margin-bottom: 40px
}

footer .footer-container .contact-request a {
    display: inline-block;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    text-transform: uppercase
}

footer .footer-container .footer-links {
    text-align: center
}

footer .footer-container .footer-links ul {
    position: relative;
    display: inline-block
}

footer .footer-container .footer-links ul li {
    float: left;
    border-right: 1px solid #FFFFFF
}

footer .footer-container .footer-links ul li a {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    display: inline-block;
    padding: 0px 15px 0px 15px
}

footer .footer-container .footer-links ul li:last-child {
    border: none
}

h2 {
    font-size: 59px;
    line-height: 63px
}

h3 {
    font-size: 28px;
    line-height: 30px
}

.news-item {
    color: #414042;
    margin-bottom: 20px
}

.news-item .date {
    padding-bottom: 8px;
    border-bottom: 1px solid #0099A8;
    margin-bottom: 20px;
    text-transform: uppercase
}

.news-item .date p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 0
}

.news-item .content {
    overflow: hidden;
    margin-bottom: 30px
}

.news-item .content p {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 0
}

.news-item .title h3 {
    overflow: hidden;
    margin-bottom: 30px;
    font-size: 22px
}

.read-more a {
    font-size: 16px;
    font-weight: bold;
    color: #00AFB9;
    padding: 15px 15px 15px 18px;
    position: relative;
    display: inline-block;
    line-height: 1;
    font-family: 'montserratregular'
}

.read-more a:hover {
    color: #0099A8;
    transition: color .2s linear
}

.read-more a:before {
    font-family: "appleby-fidco" !important;
    position: absolute;
    content: "\61";
    left: -16px;
    top: 0;
    font-size: 45px
}

.read-more p {
    padding-bottom: 0
}

.read-more p a {
    color: #00AFB9
}

.read-more p a:hover {
    color: #0099A8
}

.latest-news {
    background: #0099A8;
    color: #FFFFFF;
    margin-bottom: 0;
    padding: 60px 0px 50px 0px
}

.latest-news h2,
.latest-news h3,
.latest-news a {
    color: #FFFFFF
}

.latest-news h3 {
    margin-bottom: 25px
}

.latest-news .intro {
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
    float: none;
    margin-bottom: 70px;
    font-family: 'montserratlight'
}

.latest-news .intro h2 {
    margin-bottom: 52px
}

.latest-news .intro p {
    font-size: 18px;
    line-height: 25px
}

.latest-news .news-list {
    clear: both
}

.latest-news .news-list .news-item .date {
    border-bottom: 1px solid #90d3d9;
    color: #FFFFFF;
    font-family: 'montserratlight'
}

.latest-news .news-list .news-item .content {
    height: 165px
}

.latest-news .news-list .news-item .content p {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: 'montserratlight'
}

.latest-news .news-list .news-item .title h3 {
    max-height: 64px;
    font-size: 28px;
    line-height: 30px
}

.latest-news .news-list .read-more a {
    color: #E6E7E8
}

.latest-news .news-list .read-more a:hover {
    color: #FFFFFF;
    transition: color .2s linear
}

.search-results .title {
    padding-bottom: 8px;
    border-bottom: 1px solid #0099A8;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px
}

.search-results ul li {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #0099A8
}

.search-results ul li span {
    padding-bottom: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    display: block
}

.search-results ul li h4 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
    font-family: 'bodonimedium'
}

.search-results ul li h4 a {
    position: relative;
    display: block
}

.search-results ul li h4 a:after {
    font-family: "appleby-fidco" !important;
    position: absolute;
    content: "\62";
    right: 0;
    top: 2px;
    font-size: 28px;
    color: #0099A8
}

.tab-container .tabs ul {
    margin-bottom: 0
}

.tab-container .tabs ul li {
    text-align: center
}

.tab-container .tabs ul li a {
    padding: 15px 10px 15px 10px;
    border: 1px solid #00AFB9;
    color: #00AFB9;
    font-family: 'montserratregular';
    line-height: 20px;
    display: block;
    position: relative
}

.tab-container .tabs ul li a:hover {
    border: 1px solid #0099A8;
    color: #FFFFFF
}

.tab-container .tabs ul li a:hover span {
    background: #0099A8;
    transform: skew(-15deg);
    -webkit-transform: skew(-15deg)
}

.tab-container .tabs ul li a span {
    padding: 15px 0px 15px 0px;
    position: relative;
    display: inline-block;
    margin: -15px -10px
}

.tab-container .tabs ul li.selected a {
    border: 1px solid #0099A8;
    background: #0099A8;
    color: #FFFFFF
}

.tab-content {
    font-size: 16px;
    line-height: 22px
}

.tab-content h2 {
    text-align: center;
    margin-bottom: 54px;
    margin-top: 65px
}

.tab-content h4 {
    font-size: 22px;
    line-height: 24px;
    font-family: 'montserratregular'
}

.tab-content h5 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
    font-family: 'montserratregular'
}

.tab-content>.intro {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
    float: none;
    margin-bottom: 50px;
    font-family: 'montserratlight'
}

.tab-content>.intro p a {
    text-decoration: underline
}

.tab-content>.intro p a:hover {
    color: #0099A8
}

.tab-content .awards-container .row {
    border-bottom: 1px solid #0099A8;
    padding-bottom: 50px;
    margin-bottom: 65px
}

.tab-content .awards-container .row:last-child {
    border-bottom: none
}

.tab-content .awards-container .row .row-content .award .award-image {
    margin-bottom: 30px
}

.tab-content .awards-container .row .row-content .award p {
    font-size: 14px
}

.tab-content .awards-container .row .row-content .award .award-title {
    text-align: center;
    margin-bottom: 15px
}

.tab-content .awards-container .row .row-content .award .award-title h4 {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 15px
}

.tab-content .awards-container .row .row-content .award .award-title p {
    font-size: 18px;
    line-height: 1;
    padding-bottom: 0
}

.tab-content .tab-content-row {
    padding-bottom: 45px;
    margin-bottom: 45px;
    border-bottom: 1px solid #0099A8
}

.tab-content .tab-content-row:last-child {
    border-bottom: none
}

.tab-content .three-col-content {
    font-size: 16px;
    line-height: 22px
}

.tab-content .three-col-content p a {
    text-decoration: underline
}

.tab-content .three-col-content p a:hover {
    color: #0099A8
}

.tab-content .three-col-content h4 {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 5px
}

.tab-content .three-col-content ul {
    padding-left: 18px
}

.tab-content .three-col-content ul li {
    list-style: disc outside
}

.tab-content .three-col-content img {
    margin-bottom: 15px
}

.tab-content .contact-item h4 a {
    color: #414042
}

.tab-content .contact-item .details p {
    padding-bottom: 0
}

.tab-content .contact-item .details a {
    color: #0099A8
}

.tab-content .contact-item .details .contact {
    margin-bottom: 20px
}

.tab-content .contact-item .details .contact a {
    color: #414042
}

.tab-content .contact-item .details ul.jurisdiction-list {
    margin-top: 10px
}

.tab-content .contact-item .details ul.jurisdiction-list li {
    text-transform: uppercase;
    float: left;
    width: 50%;
    text-align: left;
    margin-bottom: 5px
}

.tab-content .contact-item .details ul.jurisdiction-list li a {
    color: #0099A8;
    padding: 0
}

.tab-content .contact-item .details ul.jurisdiction-list li:last-child {
    border: none
}

.tab-content .contact-item .details .service-location ul {
    margin-bottom: 15px
}

.tab-content .contact-item .details .service-location ul li {
    list-style: none;
    margin-bottom: 5px
}

.tab-content .contact-item .details .service-location ul li a {
    color: #414042;
    font-size: 16px;
    text-transform: uppercase
}

.tab-content .contact-item .profile-image {
    text-align: center
}

.tab-content .contact-item .profile-image img {
    width: 160px;
    border-radius: 50%;
    border: 2px solid #0099A8;
    display: inline-block
}

.tab-content .contact-item .job-title {
    text-transform: uppercase;
    margin-top: 20px;
    display: block
}

.tab-content .contact-item.team h5 {
    margin-bottom: 5px
}

.tab-content .contact-item.team .details .contact {
    margin-bottom: 0
}

.tab-content .contact-item.team .details .contact p {
    padding-bottom: 20px
}

.tab-content .contact-item.team .profile-image img {
    width: 128px
}

.tab-content .contact-item .v-card {
    font-size: 48px
}

.tab-content .contact-map {
    padding-left: 100px;
    padding-right: 100px
}

.tab-content .sub-services,
.tab-content .jurisdictions {
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 1px solid #0099A8
}

.tab-content .sub-services li,
.tab-content .jurisdictions li {
    margin-bottom: 20px;
    font-size: 19px;
    line-height: 23px;
    font-family: 'montserratregular'
}

.tab-content .sub-services li a,
.tab-content .jurisdictions li a {
    color: #0099A8
}

.tab-content .jurisdictions {
    border-bottom: none
}

.tab-content form {
    margin-bottom: 80px
}

.tab-content form label {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    margin-bottom: 25px
}

.tab-content form input[type="text"],
.tab-content form select {
    border: 1px solid #939598;
    border-radius: 0;
    padding: 22px 12px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'montserratregular'
}

.tab-content form input[type="text"] {
    color: #0099A8
}

.tab-content form select {
    height: auto;
    padding: 12px;
    -webkit-appearance: none;
    -webkit-border-radius: 0
}

.tab-content form .form-group {
    padding-top: 65px;
    margin-top: 50px;
    border-top: 1px solid #0099A8
}

.tab-content form .form-group:first-child,
.tab-content form .form-group:last-child {
    border: none;
    padding-top: 0;
    margin-top: 0
}

.tab-content form .form-group .half-width {
    margin-bottom: 0
}

.tab-content form .form-group .half-width [class*="col-"] {
    margin-bottom: 32px
}

.tab-content form .form-group .btn {
    width: 250px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 15px 0;
    border: none;
    text-transform: uppercase;
    font-family: 'montserratregular'
}

.tab-content form .form-group .btn.btn-primary {
    background: #0099A8
}

.tab-content form .form-group .input-group-btn {
    position: absolute;
    right: 16px;
    top: 1px
}

.tab-content form .form-group .input-group-btn button {
    width: 68px;
    height: 44px;
    background: #939598;
    position: relative
}

.tab-content form .form-group .input-group-btn button .icon {
    color: #FFFFFF;
    font-size: 28px;
    position: absolute;
    top: 8px;
    left: 20px
}

.tab-content .form-horizontal .control-label {
    text-align: left;
    font-family: 'montserratregular';
    font-size: 18px
}

.tab-content .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0
}

.tab-content .map {
    display: none;
    font-family: 'montserratlight', Arial, verdana
}

.tab-content .jurisdictions.map {
    display: block
}

.tab-content .bar {
    border-bottom: 1px solid #0099A8;
    padding-bottom: 80px;
    margin-bottom: 45px
}

.tab-content .bar .count {
    text-align: center
}

.tab-content .bar .pagination {
    display: none
}

.tab-content .result {
    padding: 30px 0;
    border-bottom: 1px solid #0099A8
}

.tab-content .result a {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 20px;
    font-family: 'bodonimedium';
    position: relative;
    display: block
}

.tab-content .result a:after {
    font-family: "appleby-fidco" !important;
    position: absolute;
    content: "\62";
    right: 0;
    top: 2px;
    font-size: 28px;
    color: #0099A8
}

.tab-content .pagination {
    text-align: center;
    margin: 45px 0 65px
}

.tab-content .pagination .pages {
    display: none
}

.tab-content .pagination a {
    color: #0099A8;
    font-size: 20px;
    font-family: 'montserratlight';
    padding: 5px 25px
}

.tab-content .pagination span.active {
    color: #414042;
    font-size: 20px;
    font-family: 'montserratlight';
    padding: 5px 25px
}

.tab-content .pagination a.prev {
    float: left;
    padding: 5px 0
}

.tab-content .pagination a.next {
    float: right;
    padding: 5px 0
}

.tab-content .sharer {
    text-align: center
}

.tab-content .sharer ul li {
    display: inline-block
}

.tab-content .sharer ul li a {
    color: #0099A8;
    font-size: 26px;
    padding: 10px;
    position: relative;
    top: 2px
}

.modal {
    background: rgba(255, 255, 255, 0.95)
}

.modal .modal-dialog {
    width: auto;
    max-width: 945px;
    margin: 0
}

.modal .modal-dialog .modal-content {
    background: #0099A8;
    color: #FFFFFF;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 66px 20px 22px 20px
}

.modal .modal-dialog .modal-content .intro {
    padding-bottom: 25px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 25px
}

.modal .modal-dialog .modal-content .info {
    text-align: center
}

.modal .modal-dialog .modal-content .info h3 {
    color: #FFFFFF;
    font-family: 'montserratregular';
    font-size: 24px;
    margin-bottom: 15px
}

.modal .modal-dialog .modal-content .info p {
    padding-bottom: 0;
    margin-bottom: 10px;
    font-family: 'montserratlight';
    font-size: 16px;
    line-height: 1
}

.modal .modal-dialog .modal-content .info ul.share {
    margin-top: 30px;
    display: inline-block
}

.modal .modal-dialog .modal-content .info ul.share li {
    float: left;
    margin-right: 25px
}

.modal .modal-dialog .modal-content .info ul.share li a {
    color: #0099A8;
    background: #FFFFFF;
    padding: 6px 7px 1px;
    border-radius: 50%;
    font-size: 26px;
    display: inline-block
}

.modal .modal-dialog .modal-content .profile-image img {
    width: 160px;
    border-radius: 50%;
    margin: 0 auto
}

.modal .modal-dialog .modal-content .contact-details {
    padding-bottom: 25px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 25px
}

.modal .modal-dialog .modal-content .contact-details h5 {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'montserratregular';
    margin-bottom: 5px;
    margin-top: 20px
}

.modal .modal-dialog .modal-content .contact-details p {
    padding-bottom: 0;
    font-size: 16px;
    font-family: 'montserratlight'
}

.modal .modal-dialog .modal-content .contact-details p a {
    color: #FFFFFF
}

.modal .modal-dialog .modal-content .contact-details .v-card {
    margin-top: 40px
}

.modal .modal-dialog .modal-content .contact-details .v-card a {
    color: #FFFFFF;
    font-size: 48px
}

.modal .modal-dialog .modal-content .profile,
.modal .modal-dialog .modal-content .education {
    padding-bottom: 25px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 25px
}

.modal .modal-dialog .modal-content .profile h4,
.modal .modal-dialog .modal-content .education h4 {
    margin-top: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'montserratregular';
    margin-bottom: 40px;
    cursor: pointer;
    position: relative
}

.modal .modal-dialog .modal-content .profile h4:after,
.modal .modal-dialog .modal-content .education h4:after {
    font-family: 'montserratlight';
    position: absolute;
    content: "+";
    right: 0;
    top: -8px;
    font-size: 28px;
    color: #FFFFFF
}

.modal .modal-dialog .modal-content .profile h4.selected:after,
.modal .modal-dialog .modal-content .education h4.selected:after {
    content: "-"
}

.modal .modal-dialog .modal-content .profile .info,
.modal .modal-dialog .modal-content .education .info {
    display: none
}

.modal .modal-dialog .modal-content .profile .info p,
.modal .modal-dialog .modal-content .education .info p {
    line-height: 22px
}

.modal .modal-dialog .modal-content .profile .info p a,
.modal .modal-dialog .modal-content .education .info p a {
    color: #FFFFFF;
    text-decoration: underline
}

.modal .modal-dialog .modal-content .profile .info ul,
.modal .modal-dialog .modal-content .education .info ul {
    padding-left: 18px
}

.modal .modal-dialog .modal-content .profile .info ul li,
.modal .modal-dialog .modal-content .education .info ul li {
    margin-bottom: 10px;
    list-style: disc outside
}

.modal .modal-dialog .modal-content .profile .info ul li a,
.modal .modal-dialog .modal-content .education .info ul li a {
    color: #FFFFFF;
    text-decoration: underline
}

.modal .modal-dialog .modal-content .education {
    display: none
}

.modal .modal-dialog .modal-content .education .info ul {
    padding-left: 18px
}

.modal .modal-dialog .modal-content .education .info ul li {
    margin-bottom: 10px;
    list-style: disc outside
}

.modal .modal-dialog .modal-content .education .info ul li a {
    color: #FFFFFF;
    text-decoration: underline
}

.modal .modal-dialog .modal-content .modal-body {
    padding: 0
}

.modal .close {
    background: none;
    color: #FFFFFF;
    border: none;
    font-size: 54px;
    position: absolute;
    top: 16px;
    right: 20px
}

#profileModal {
    padding-right: 0 !important
}

.col-offset-12-5 {
    margin-left: 12.5%
}
header .header-container .nav-logo .logo {
    width: 100%
}
header .header-container .nav-logo .main-nav {
    width: 100%
}
.row.hero .scroll-arrow {
    display: block
}
header .header-container .nav-logo {
    padding: 24px 0px 0px 0px;
    display: block
}
header .header-container .nav-logo .main-nav {
    display: block;
    margin-top: 5px;
    border: none;
    width: 75%
}
header .header-container .nav-logo .main-nav>ul>li {
    float: left
}
header .header-container .nav-logo .main-nav>ul>li>a {
    padding: 15px 0px 15px 15px
}
header .header-container .nav-logo .main-nav>ul>li:hover>ul {
    display: block
}
header .header-container .nav-logo .main-nav>ul>li.services>ul {
    width: 960px;
    left: 0;
    padding: 35px 20px
}
header .header-container .nav-logo .logo {
    text-align: inherit;
    margin-top: 10px;
    width: 25%
}
header .header-container .nav-logo .logo a {
    display: block;
    float: right
}
header .header-container .nav-logo .search-button {
    right: 250px;
    top: 40px
}
header .header-container .nav-logo .search-button .icon {
    font-size: 25px
}
header .header-container .nav-logo .mobile-menu {
    display: none
}
header .search {
    top: 105px;
    left: 0
}
header.fixed {
    position: fixed;
    width: 100%;
    z-index: 999;
    left: 0
}
header.fixed .header-container .nav-logo {
    padding: 0
}
header.fixed .header-container .nav-logo .main-nav>ul>li>a {
    padding: 15px 0px 0px 15px
}
header.fixed .header-container .nav-logo .main-nav>ul>li>ul {
    top: 61px
}
header.fixed .header-container .nav-logo .logo {
    margin-top: 22px;
    transition: margin-top .2s linear
}
header.fixed .header-container .nav-logo .logo a {
    width: 123px;
    height: 22px
}
header.fixed .header-container .nav-logo .search-button {
    top: 20px
}
header.fixed .search {
    top: 66px
}
.content-area.fixed {
    padding-top: 88px
}
.tab-content .map {
    display: block
}
.tab-content .jurisdictions.map {
    display: none
}
.modal .modal-dialog {
    margin: 30px auto
}
.modal .modal-dialog .modal-content {
    padding: 62px 66px 62px 66px
}
.modal .modal-dialog .modal-content .info {
    text-align: left
}
header .header-container .nav-logo .main-nav>ul>li>a {
    padding: 15px 15px 15px 18px
}
header .header-container .nav-logo .main-nav>ul>li.services>ul {
    width: 1300px;
    left: -65px
}
header .header-container .nav-logo .search-button {
    right: 325px
}
header.fixed .header-container .nav-logo .main-nav>ul>li>a {
    padding: 15px 15px 0px 18px
}
