<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7 ]> <html class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js"><!--<![endif]-->
<head>
	<title>Driving Law</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<!--[if lte IE 9]>
		<script>
			var tags = 'abbr article aside audio canvas datalist details figure footer header hgroup mark menu meter nav output progress section time video'.split(' ');
			for (var i = 0; i < tags.length; i++) {
				document.createElement(tags[i]);
			}
		</script>
	<![endif]-->
	<script type="text/javascript" src="../_js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../_js/libs/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="../_js/libs/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="../_js/libs/angular-1.4.8.min.js"></script>
	<script type="text/javascript" src="../_js/app.js"></script>
	<script type="text/javascript" src="../_js/main.js"></script>
	<link rel="stylesheet" href="../_css/bootstrap/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../_css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../_css/font-icons.css">
	<link rel="stylesheet" href="../_css/jquery.bxslider.css">
	<!--[if !(IE 7)]><!--><link rel="stylesheet" href="../_css/main.css"><!--<![endif]-->

	<!--[if lt IE 9]>
		<script type="text/javascript" src="../_js/html5shiv.js"></script>
		<script type="text/javascript" src="../_js/respond.js"></script>
		<script type="text/javascript" src="../_js/libs/angular-1.3.min.js"></script>
		<link rel="stylesheet" href="../_css/ie.css">
	<![endif]-->
</head>
<body class="home">
	<div class="wrapper">
		<header class="row">
			<div class="top-header">
				<div class="quick-consulation"></div>
			</div>
			<div class="row-content">
				<div class="col-sm-12 logo">
					<a href="/">
						<svg version="1.1" id="logo-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 774.7 51.2" style="enable-background:new 0 0 774.7 51.2;" xml:space="preserve">
							<g>
								<g>
									<path class="st3" d="M50,49.6V1.4H37.5l-12,33.9L13.9,1.4H0.2v48.2h8V12.2l0.4-0.1L21,46.9h7.1c4.4-12.7,8.9-25.3,13.4-38l0,0
										l0.4,0.1l0.1,40.6H50L50,49.6z"/>
								</g>
								<g>
									<path class="st3" d="M88.6,51.2L88.6,51.2C88.5,51.2,88.5,51.2,88.6,51.2L88.6,51.2l0-0.2v-0.2c14.9,0,23.5-11.3,23.6-25.5l0,0
										c0-14.6-8.5-25.1-23.6-25.1l0,0C74,0.2,64.9,11.5,64.9,25.4l0,0c0,14.3,8.7,25.4,23.6,25.4l0,0V51L88.6,51.2 M106.2,43.6
										L106.2,43.6 M112.5,25.3L112.5,25.3 M106.2,7L106.2,7 M88.5-0.2L88.5-0.2 M88.5,7.5L88.5,7.5V7.4V7.2c10.3,0,13.8,9.3,13.8,18.1
										l0,0c0,8.7-3.2,18.9-13.8,18.9l0,0c-10.5,0-13.8-10.2-13.8-18.9l0,0c0-8.7,3.5-18.1,13.8-18.1l0,0v0.2V7.5"/>
								</g>
								<g>
									<g>
										<path class="st3" d="M157.4,29.6c0,3.9-0.1,7.6-1.5,10.3c-1.4,2.7-4,4.5-8.9,4.5c-4.8,0-7.5-1.7-9-4.4c-1.5-2.7-1.7-6.4-1.7-10.3
											l0-28.3h-9.6v29.5c0,13.3,6.3,19.8,19.8,19.8c13.8,0,19.3-7,19.3-20.3V1.4h-8.4V29.6z"/>
										<path class="st3" d="M165.8,30.5c0,13.3-5.5,20.3-19.3,20.3c-13.5,0-19.8-6.5-19.8-19.8V1.4h9.6l0,28.3c0,3.9,0.2,7.6,1.7,10.3
											c1.5,2.7,4.2,4.4,9,4.4c4.9,0,7.6-1.7,8.9-4.5c1.4-2.7,1.5-6.4,1.5-10.3V1.4h8.4V30.5z"/>
									</g>
								</g>
								<g>
									<path class="st3" d="M222.6,49.6L206,27.8l0.3,0c7.8-1.1,12.6-6,12.7-14l0,0c0-8.1-7-12.3-14.5-12.3l0,0h-21v48.2h9.7V28.6h2.6
										l14.9,20.9H222.6L222.6,49.6z M200.7,8.4L200.7,8.4V8.2V8c4.6,0,8.5,1.8,8.5,7l0,0c0,5.6-4.9,8.7-10.1,8.7l0,0
										c-1.9,0-3.9-0.2-5.8-0.4l0,0l-0.2,0v-15l0.2,0c2.4-0.1,4.9-0.3,7.4-0.3l0,0v0.2V8.4 M208.8,15L208.8,15"/>
								</g>
								<g>
									<path class="st3" d="M277.8,49.6l-18-48.5h-10l-18.1,48.5h7.6l4.8-13h18.1l4.6,13H277.8L277.8,49.6z M246.6,29.9l6.5-18.2l0.2-0.5
										l6.6,18.7H246.6L246.6,29.9z M253.1,11.8l0.2-0.1L253.1,11.8L253.1,11.8z"/>
								</g>
								<g>
									<path class="st3" d="M330.7,49.7V1.4h-8v34.9l-0.4-0.6c-6.8-11.4-13.7-22.8-20.4-34.3l0,0h-10.7v48.2h8V13.9l21.5,35.9H330.7
										L330.7,49.7z"/>
								</g>
								<g>
									<path class="st3" d="M343.9,8.1h15.9l0.1,41.4h9.7V8.3V8.1h15.9V1.4h-41.6V8.1L343.9,8.1z M369.7,8.5V8.3V8.5L369.7,8.5z"/>
								</g>
								<g>
									<path class="st3" d="M424.3,43.7L424.3,43.7 M442,51.2L442,51.2C442,51.2,442,51.2,442,51.2L442,51.2l0-0.2v-0.2
										c14.9,0,23.5-11.3,23.6-25.5l0,0c0-14.6-8.5-25.1-23.6-25.1l0,0c-14.5,0-23.5,11.3-23.6,25.2l0,0c0,14.3,8.7,25.4,23.6,25.4l0,0
										V51L442,51.2 M459.7,43.6L459.7,43.6 M466,25.3L466,25.3 M459.7,7L459.7,7 M442,7.5L442,7.5V7.4V7.2c10.3,0,13.8,9.3,13.8,18.1
										l0,0c0,8.7-3.2,18.9-13.8,18.9l0,0c-10.5,0-13.8-10.2-13.8-18.9l0,0c0-8.7,3.5-18.1,13.8-18.1l0,0v0.2V7.5"/>
								</g>
								<g>
									<path class="st3" d="M512.2,49.6v-6.8h-23.5l23.2-34.4v-7h-34v7h22.9l-23.5,34.5v6.6H512.2L512.2,49.6z"/>
								</g>
								<g>
									<path class="st3" d="M568.5,49.6l-18-48.5h-10l-18.1,48.5h7.6l4.8-13H553l4.6,13H568.5L568.5,49.6z M537.3,29.9l6.5-18.2l0.2-0.5
										l6.6,18.7H537.3L537.3,29.9z M543.9,11.8l0.2-0.1L543.9,11.8L543.9,11.8z"/>
								</g>
								<g>
									<path class="st3" d="M611.4,49.7l10.1,0V1.4h-8v34.9l-0.4-0.6c-6.8-11.4-13.7-22.8-20.4-34.3l0,0H582v48.2h8V13.9L611.4,49.7
										L611.4,49.7z"/>
								</g>
								<g>
									<path class="st3" d="M678.9,49.7V1.4h-8v34.9l-0.4-0.6c-6.8-11.4-13.7-22.8-20.4-34.3l0,0h-10.7v48.2h8V13.9l21.5,35.9H678.9
										L678.9,49.7z"/>
								</g>
								<g>
									<path class="st3" d="M729.7,49.6v-6.7l-23.2-0.1V28.2h20.3v-6.4l-20.3-0.1V8.2h22.8V1.4h-32.5v48.2H729.7L729.7,49.6z"/>
								</g>
								<g>
									<line class="st3" x1="741.4" y1="14.1" x2="741.4" y2="14.1"/>
									<line class="st3" x1="753.3" y1="28.6" x2="753.3" y2="28.6"/>
									<line class="st3" x1="764.9" y1="37.7" x2="764.9" y2="37.7"/>
									<line class="st3" x1="756" y1="43.8" x2="756" y2="43.8"/>
									<line class="st3" x1="740.9" y1="39.5" x2="741.2" y2="39.7"/>
									<polyline class="st3" points="741,47.4 741,47.4 740.9,47.3 		"/>
									<path class="st3" d="M756.7,51.2L756.7,51.2V51v-0.2c8.9,0,17.6-5.3,17.6-14.9l0,0c0-7.2-5.8-10.9-11.6-13.7l0,0
										c-5.8-2.9-11.8-4.8-11.8-8.8l0,0c0-5.2,6.2-6.5,10.2-6.5l0,0c0.1,0,0.2,0,0.4,0l0,0c2.4,0,7.3,0.6,9.7,1.7l0,0v-5
										c-3.8-2.1-8.8-3.3-13.2-3.3l0,0c-8,0-16.3,5.3-16.3,13.9l0,0c0,8.2,5.7,11.5,11.6,14.1l0,0c5.8,2.6,11.8,4.3,11.8,9.5l0,0
										c0,5-5.4,6.5-9.3,6.5l0,0c-4.1,0-11-1.8-14.7-4l0,0v6.9c4,2.4,10.9,3.7,15.4,3.7l0,0V51V51.2"/>
									<line class="st3" x1="774.7" y1="35.9" x2="774.7" y2="35.9"/>
									<line class="st3" x1="762.9" y1="21.8" x2="762.9" y2="21.8"/>
								</g>
							</g>
						</svg>
					</a>
					<div class="vx_text click-to-mail">
						<p><a href="mailto:info@driving-law.co.uk">info@driving-law.co.uk</a></p>
					</div>
				</div>
				<div id="men_01011" class="vx_menu vx_include_header col-sm-12 main-nav">
					<nav>
						<ul>
							<li class="selected"><a href="#">Home</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Offenses</a></li>
							<li><a href="#">Penalties</a></li>
							<li><a href="#">Services & Pricing</a></li>
						</ul>
					</nav>
				</div>
				<ul class="mobile-menu-icon">
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</header>
		<section class="row">
			<div class="row-content">
				<div class="hero-slider">
					<div id="col_01" class="vx_drag vx_blocks_file_blocks-hero-slider hero-slider">
						<div class="vx_block hero-slider-item">
							<div class="vx_image">
								<img src="../_images/hero-03.jpg" alt="Carousel item" />
							</div>
							<div class="slider-item-text">
								<div class="vx_text text-container">
									<h1>Helping drivers with all aspects of <strong>motoring legal advice</strong></h1>
									<p><a href="/">Read more</a></p>
								</div>
							</div>
						</div>
						<div class="vx_block hero-slider-item">
							<div class="vx_image">
								<img src="../_images/hero-01.jpg" alt="Carousel item" />
							</div>
							<div class="slider-item-text">
								<div class="vx_text text-container">
									<h2>Legal support for drivers from <strong>less than £1 a week</strong></h2>
									<p><a href="/">Read more</a></p>
								</div>
							</div>
						</div>
						<div class="vx_block hero-slider-item">
							<div class="vx_image">
								<img src="../_images/hero-02.jpg" alt="Carousel item" />
							</div>
							<div class="slider-item-text">
								<div class="vx_text text-container">
									<h2>Helping drivers with all aspects of <strong>motoring legal advice</strong></h2>
									<p><a href="/">Read more</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="row promo">
			<div class="row-content">
				<div class="col-sm-4">
					<div class="promo-item">
						<div class="vx_image promo-image">
							<img src="../_images/thumb-01.jpg" alt="Promo Thumb" />
						</div>
						<div class="vx_text promo-text">
							<h3><a href="#">Email Query</a></h3>
							<p>Expert legal advice by email for only £20</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="promo-item">
						<div class="vx_image promo-image">
							<img src="../_images/thumb-03.jpg" alt="Promo Thumb" />
						</div>
						<div class="vx_text promo-text">
							<h3><a href="#">Email Query</a></h3>
							<p>Expert legal advice by email for only £20</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="promo-item">
						<div class="vx_image promo-image">
							<img src="../_images/thumb-02.jpg" alt="Promo Thumb" />
						</div>
						<div class="vx_text promo-text">
							<h3><a href="#">Email Query</a></h3>
							<p>Expert legal advice by email for only £20</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer class="row">
		<div class="row-content">
			<div class="col-sm-3 logo">
				<a href="/">
					<svg version="1.1" id="logo-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 774.7 51.2" style="enable-background:new 0 0 774.7 51.2;" xml:space="preserve">
						<g>
							<g>
								<path class="st3" d="M50,49.6V1.4H37.5l-12,33.9L13.9,1.4H0.2v48.2h8V12.2l0.4-0.1L21,46.9h7.1c4.4-12.7,8.9-25.3,13.4-38l0,0
									l0.4,0.1l0.1,40.6H50L50,49.6z"/>
							</g>
							<g>
								<path class="st3" d="M88.6,51.2L88.6,51.2C88.5,51.2,88.5,51.2,88.6,51.2L88.6,51.2l0-0.2v-0.2c14.9,0,23.5-11.3,23.6-25.5l0,0
									c0-14.6-8.5-25.1-23.6-25.1l0,0C74,0.2,64.9,11.5,64.9,25.4l0,0c0,14.3,8.7,25.4,23.6,25.4l0,0V51L88.6,51.2 M106.2,43.6
									L106.2,43.6 M112.5,25.3L112.5,25.3 M106.2,7L106.2,7 M88.5-0.2L88.5-0.2 M88.5,7.5L88.5,7.5V7.4V7.2c10.3,0,13.8,9.3,13.8,18.1
									l0,0c0,8.7-3.2,18.9-13.8,18.9l0,0c-10.5,0-13.8-10.2-13.8-18.9l0,0c0-8.7,3.5-18.1,13.8-18.1l0,0v0.2V7.5"/>
							</g>
							<g>
								<g>
									<path class="st3" d="M157.4,29.6c0,3.9-0.1,7.6-1.5,10.3c-1.4,2.7-4,4.5-8.9,4.5c-4.8,0-7.5-1.7-9-4.4c-1.5-2.7-1.7-6.4-1.7-10.3
										l0-28.3h-9.6v29.5c0,13.3,6.3,19.8,19.8,19.8c13.8,0,19.3-7,19.3-20.3V1.4h-8.4V29.6z"/>
									<path class="st3" d="M165.8,30.5c0,13.3-5.5,20.3-19.3,20.3c-13.5,0-19.8-6.5-19.8-19.8V1.4h9.6l0,28.3c0,3.9,0.2,7.6,1.7,10.3
										c1.5,2.7,4.2,4.4,9,4.4c4.9,0,7.6-1.7,8.9-4.5c1.4-2.7,1.5-6.4,1.5-10.3V1.4h8.4V30.5z"/>
								</g>
							</g>
							<g>
								<path class="st3" d="M222.6,49.6L206,27.8l0.3,0c7.8-1.1,12.6-6,12.7-14l0,0c0-8.1-7-12.3-14.5-12.3l0,0h-21v48.2h9.7V28.6h2.6
									l14.9,20.9H222.6L222.6,49.6z M200.7,8.4L200.7,8.4V8.2V8c4.6,0,8.5,1.8,8.5,7l0,0c0,5.6-4.9,8.7-10.1,8.7l0,0
									c-1.9,0-3.9-0.2-5.8-0.4l0,0l-0.2,0v-15l0.2,0c2.4-0.1,4.9-0.3,7.4-0.3l0,0v0.2V8.4 M208.8,15L208.8,15"/>
							</g>
							<g>
								<path class="st3" d="M277.8,49.6l-18-48.5h-10l-18.1,48.5h7.6l4.8-13h18.1l4.6,13H277.8L277.8,49.6z M246.6,29.9l6.5-18.2l0.2-0.5
									l6.6,18.7H246.6L246.6,29.9z M253.1,11.8l0.2-0.1L253.1,11.8L253.1,11.8z"/>
							</g>
							<g>
								<path class="st3" d="M330.7,49.7V1.4h-8v34.9l-0.4-0.6c-6.8-11.4-13.7-22.8-20.4-34.3l0,0h-10.7v48.2h8V13.9l21.5,35.9H330.7
									L330.7,49.7z"/>
							</g>
							<g>
								<path class="st3" d="M343.9,8.1h15.9l0.1,41.4h9.7V8.3V8.1h15.9V1.4h-41.6V8.1L343.9,8.1z M369.7,8.5V8.3V8.5L369.7,8.5z"/>
							</g>
							<g>
								<path class="st3" d="M424.3,43.7L424.3,43.7 M442,51.2L442,51.2C442,51.2,442,51.2,442,51.2L442,51.2l0-0.2v-0.2
									c14.9,0,23.5-11.3,23.6-25.5l0,0c0-14.6-8.5-25.1-23.6-25.1l0,0c-14.5,0-23.5,11.3-23.6,25.2l0,0c0,14.3,8.7,25.4,23.6,25.4l0,0
									V51L442,51.2 M459.7,43.6L459.7,43.6 M466,25.3L466,25.3 M459.7,7L459.7,7 M442,7.5L442,7.5V7.4V7.2c10.3,0,13.8,9.3,13.8,18.1
									l0,0c0,8.7-3.2,18.9-13.8,18.9l0,0c-10.5,0-13.8-10.2-13.8-18.9l0,0c0-8.7,3.5-18.1,13.8-18.1l0,0v0.2V7.5"/>
							</g>
							<g>
								<path class="st3" d="M512.2,49.6v-6.8h-23.5l23.2-34.4v-7h-34v7h22.9l-23.5,34.5v6.6H512.2L512.2,49.6z"/>
							</g>
							<g>
								<path class="st3" d="M568.5,49.6l-18-48.5h-10l-18.1,48.5h7.6l4.8-13H553l4.6,13H568.5L568.5,49.6z M537.3,29.9l6.5-18.2l0.2-0.5
									l6.6,18.7H537.3L537.3,29.9z M543.9,11.8l0.2-0.1L543.9,11.8L543.9,11.8z"/>
							</g>
							<g>
								<path class="st3" d="M611.4,49.7l10.1,0V1.4h-8v34.9l-0.4-0.6c-6.8-11.4-13.7-22.8-20.4-34.3l0,0H582v48.2h8V13.9L611.4,49.7
									L611.4,49.7z"/>
							</g>
							<g>
								<path class="st3" d="M678.9,49.7V1.4h-8v34.9l-0.4-0.6c-6.8-11.4-13.7-22.8-20.4-34.3l0,0h-10.7v48.2h8V13.9l21.5,35.9H678.9
									L678.9,49.7z"/>
							</g>
							<g>
								<path class="st3" d="M729.7,49.6v-6.7l-23.2-0.1V28.2h20.3v-6.4l-20.3-0.1V8.2h22.8V1.4h-32.5v48.2H729.7L729.7,49.6z"/>
							</g>
							<g>
								<line class="st3" x1="741.4" y1="14.1" x2="741.4" y2="14.1"/>
								<line class="st3" x1="753.3" y1="28.6" x2="753.3" y2="28.6"/>
								<line class="st3" x1="764.9" y1="37.7" x2="764.9" y2="37.7"/>
								<line class="st3" x1="756" y1="43.8" x2="756" y2="43.8"/>
								<line class="st3" x1="740.9" y1="39.5" x2="741.2" y2="39.7"/>
								<polyline class="st3" points="741,47.4 741,47.4 740.9,47.3 		"/>
								<path class="st3" d="M756.7,51.2L756.7,51.2V51v-0.2c8.9,0,17.6-5.3,17.6-14.9l0,0c0-7.2-5.8-10.9-11.6-13.7l0,0
									c-5.8-2.9-11.8-4.8-11.8-8.8l0,0c0-5.2,6.2-6.5,10.2-6.5l0,0c0.1,0,0.2,0,0.4,0l0,0c2.4,0,7.3,0.6,9.7,1.7l0,0v-5
									c-3.8-2.1-8.8-3.3-13.2-3.3l0,0c-8,0-16.3,5.3-16.3,13.9l0,0c0,8.2,5.7,11.5,11.6,14.1l0,0c5.8,2.6,11.8,4.3,11.8,9.5l0,0
									c0,5-5.4,6.5-9.3,6.5l0,0c-4.1,0-11-1.8-14.7-4l0,0v6.9c4,2.4,10.9,3.7,15.4,3.7l0,0V51V51.2"/>
								<line class="st3" x1="774.7" y1="35.9" x2="774.7" y2="35.9"/>
								<line class="st3" x1="762.9" y1="21.8" x2="762.9" y2="21.8"/>
							</g>
						</g>
					</svg>
				</a>
				<p>Driving Law promotes the legal services of a pre-selected panel of regulated UK law firms who are regulated by the Solicitors Regulation Authority. The team consists of road traffic specialist.</p>
			</div>
			<div class="col-sm-3">
				<h3>Quick links</h3>
				<nav>
					<ul>
						<li><a href="#">Drink Driving</a></li>
						<li><a href="#">Speeding</a></li>
						<li><a href="#">Driving with mobile phone</a></li>
						<li><a href="#">Careless driving</a></li>
						<li><a href="#">Driving without a seat belt</a></li>
						<li><a href="#">Motoring Legal Advice</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-3">
				<h3>Quick links</h3>
				<nav>
					<ul>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">FAQ's</a></li>
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Disclaimer</a></li>
						<li><a href="#">Sitemap</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-3">
				<h3>Contact information</h3>
				<p><a href="mainto:info@driving-law.co.uk">info@driving-law.co.uk</a></p>
				<p>2017 © Driving Law. All Rights Reserved</p>
			</div>
		</div>
	</footer>
	<script>
		$('.hero-slider').bxSlider({
			mode: 'fade',
			captions: true
		});
	</script>
</body>
</html>